body,ul,li,p,h4{margin: 0;padding: 0;}
img{border:none;}
ul{list-style: none;}

.clearfix:after{
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
	line-height: 0;
	content: "";}
.wrap{
	width: 1200px;
	margin:0 auto;}